body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color:rgb(13, 5, 85) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header{
    background-color: rgb(63, 48, 100);
    padding: 15px;
    margin: 0;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link{
    padding: 0 20px;
    line-height: 50px;
    color:aliceblue;
    text-decoration: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 900px; 
    margin: 0 auto;
}
.section{
    width: 50%;
}
.section-profile{
    width: 100%;
}
.section-profile-img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.section-profile-title{
    width: 50%;
}
.section-title{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    color:rgb(52, 0, 119);
}
.footer{
    background-color:rgb(63, 48, 100);
    display: flex;
    padding: 10px;
}
.footer-text{
    color:aliceblue;
}
.footer-link{
    color:aliceblue;
    text-decoration: none;
}
.footer-logo{ 
    height: 100px; 
    width: 100px; 
}
@media (max-width: 767px){
.section{
    width: 100%;
}
}
